<div class="container">
  <div class="card">
      <div class="card card-header">
        <div class="h2 text-center">Estudiante Inscrito a Asignatura</div>
      </div>
          <div class="card card-body">
              <div class="row">
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Estudiante:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      Nombre apellido
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Codigo Estudiante:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      000000
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Asignatura:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      asignatura
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Codigo Asignatura:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      codigo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Profesor:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      nombre apellido
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Codigo Profesor:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      codigo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Estado:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      estatus
                  </div>
              </div>
          </div>
          <div class="card card-footer form-group">
              <div class="row">
                  <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                    <input type="submit" value="Editar" class="btn btn-outline-info btn-block font-weight-bold" [routerLink]="'/inscripcionEditar'"/>
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <input type="submit" value="Eliminar" class="btn btn-warning btn-block font-weight-bold" />
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <input type="submit" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/inscripciones'"/>
                    </div>
              </div>
          </div>
  </div>
</div>
