<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
        <div class="h2 text-center">Agregar Movimeinto</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioCreado">
                    <div class="row">
                      <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label font-weight-bold">Descripcion</label>
                        <input formControlName="Descripcion" class="form-control" placeholder="Descripcion del Movimiento" required/>
                        <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty" class="alert alert-danger">La Descripcion es Requerida</div>
                      </div>
                      <div class="form-group  col-xl col-lg col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Tipo de Movimiento</label>
                          <select formControlName="Tipo" class="form-control" required>
                            <option></option>
                            <option *ngFor="let tipo of tiposMovimeintos" [value]="tipo.id">{{tipo.descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['Tipo'].invalid && formularioCreado.controls['Tipo'].dirty" class="alert alert-danger">El Tipo de Movimiento es Requerido</div>
                        </div>
                        <div class="form-group  col-xl col-lg col-md col-sm col-xs">
                            <label class="control-label font-weight-bold">Monto</label>
                            <input type="number" formControlName="Monto" required class="form-control" placeholder="123.00" required/>
                            <div *ngIf="formularioCreado.controls['Monto'].invalid && formularioCreado.controls['Monto'].dirty" class="alert alert-danger">El Monto es Requerido</div>
                        </div>
                        <div class="form-group  col-xl col-lg col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Fecha y Hora</label>
                          <input type="datetime-local" *ngIf="esTiempo" formControlName="FechaHora" class="form-control" required/>
                          <input type="text" class="form-control" [value]="tenerFecha()" *ngIf="!esTiempo" (click)="cambiarTiempo()">
                          <div *ngIf="formularioCreado.controls['FechaHora'].invalid && formularioCreado.controls['FechaHora'].dirty" class="alert alert-danger">La Fecha es Requerida</div>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
              <input type="submit" (click)="guardarMovimiento()" [disabled] ="formularioCreado.invalid" value="Agregar" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
              <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/movimientos'"/>
          </div>
        </div>
      </div>
  </div>
</div>
