<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
        <div class="h1 text-center"><a class="h2"><i class=" fas fa-plus"></i></a><i class="fas fa-landmark"></i> | Agregar Edificio</div>
      </div>
      <div class="card-body">
          <div class="row overflow-auto m-1" style="height: 500px; ">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioEdificio">
                      <div class="form-group">
                        <label class="control-label h5 font-weight-bold">Nombre de Edificio</label>
                        <input formControlName="Descripcion" style="font-size: 15px;" class="form-control" required/>
                        <div *ngIf="formularioEdificio.controls['Descripcion'].invalid && formularioEdificio.controls['Descripcion'].dirty" class="h5 alert alert-danger">El Edificio es Requerido</div>
                      </div>
                      <div class="row">
                        <div class="form-group col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
                          <label for="Pais" class="control-label h5 font-weight-bold">Pais</label>
                          <select formControlName="Pais" style="font-size: 15px;" class ="form-control" (change)="tenerCiudades(formularioEdificio.value.Pais)" required>
                            <option *ngFor="let pais of paises" [value]="pais.id">{{pais.descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioEdificio.controls['Pais'].invalid && formularioEdificio.controls['Pais'].dirty"  class="h5 alert alert-danger">El Pais es Requerido</div>
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                          <label class="control-label h5 font-weight-bold">Ciudad</label>
                          <select formControlName="Ciudad" style="font-size: 15px;" class ="form-control" required>
                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioEdificio.controls['Ciudad'].invalid && formularioEdificio.controls['Ciudad'].dirty"  class="h5 alert alert-danger">La Ciudad es Requerida</div>
                        </div>
                        <div class="form-group  col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 ">
                          <label class="control-label h5 font-weight-bold">Direccion</label>
                          <input formControlName="Direccion" style="font-size: 15px;" class="form-control" required/>
                          <div *ngIf="formularioEdificio.controls['Direccion'].invalid && formularioEdificio.controls['Direccion'].dirty"  class="h5 alert alert-danger">La Direccion es Requerida</div>
                        </div>
                      </div>
                      <div class="Form-group" >
                        <label class="control-label h5 font-weight-bold">Foto</label>
                        <input type="file" class="form-control-file" style="font-size: 15px;" formControlName="Foto" accept=".png, .jpg" (change)="subirImagen($event)"/>
                        <progressbar [value]='carga' type="success" [striped] ="true" *ngIf="carga != 0 || carga > 99" class="mt-2"><b>{{carga}} %</b></progressbar>
                        <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 card mt-2 mb-2" *ngIf="esImagen">
                          <img [src]="imagen" alt="" class=" img-thumbnail mx-auto img-fluid mt-2 mb-2">
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row form-group mx-auto">
          <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
            <button class="btn btn-outline-info btn-block" [disabled]="formularioEdificio.invalid || esCarga" (click)="agregarEdificio()">
              <a class="h3 font-weight-bold"><i class="far fa-save"></i> | Agregar</a>
            </button>
          </div>
          <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
            <button class="btn btn-outline-danger btn-block " [routerLink]="['/edificios']">
              <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
