<div class="container">
    <div class="card">
        <div class="card-header">
          <div class="h2 text-center">Agregar Periodo</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl col-lg col-md col-sm col-xs">
                    <form [formGroup]="formularioCreado">
                        <div class="row">
                          <div class="form-group col-xl-8 col-lg-8  col-md-8 col-sm-8 col-xs-8">
                            <label class="control-label font-weight-bold">Periodo</label>
                            <input formControlName="Descripcion" class="form-control" placeholder="Nombre de Periodo" required/>
                            <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty" class="alert alert-danger">El Periodo es Requerido</div>
                          </div>
                          <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label font-weight-bold">Codigo</label>
                            <input formControlName="Codigo" class="form-control" placeholder="Codigo de Periodo" required/>
                            <div *ngIf="formularioCreado.controls['Codigo'].invalid && formularioCreado.controls['Codigo'].dirty" class="alert alert-danger">El Codigo es Requerido</div>
                          </div>
                          <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                              <label class="control-label font-weight-bold">Inicio de Periodo</label>
                              <input type="date" (change)=" tenerCantidadSemanas()" formControlName="Inicio" class="form-control" required/>
                              <div *ngIf="formularioCreado.controls['Inicio'].invalid && formularioCreado.controls['Inicio'].dirty" class="alert alert-danger">El Inicio de Periodo es Requerido</div>
                              <div *ngIf="0>tiempo && formularioCreado.controls['Fin'].dirty" class="alert alert-danger">Intervalo de Fechas Erroneo</div>
                          </div>
                          <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label font-weight-bold">Fin de Periodo</label>
                            <input type="date" formControlName="Fin" (change)="tenerCantidadSemanas()" class="form-control" required />
                            <div *ngIf="formularioCreado.controls['Fin'].invalid && formularioCreado.controls['Fin'].dirty" class="alert alert-danger">El Fin de Periodo es Requerido</div>
                            <div *ngIf="0>tiempo && formularioCreado.controls['Fin'].dirty" class="alert alert-danger">Intervalo de Fechas Erroneo</div>
                          </div>
                          <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label font-weight-bold">Duracion en Semanas</label>
                            <input type="number" [value] = "tiempo" formControlName="Tiempo"  class="form-control" required />
                            <div *ngIf="formularioCreado.controls['Fin'].invalid && formularioCreado.controls['Fin'].dirty" class="alert alert-danger">El Fin de Periodo es Requerido</div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
                <input type="submit" [disabled]="formularioCreado.invalid" (click)="guardarPeriodo(buscarCursos())" value="Agregar" class="btn btn-outline-primary btn-block font-weight-bold" />
            </div>
            <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
                <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/periodos'"/>
            </div>
          </div>
        </div>
    </div>
  </div>
