<div class="container">
  <div class="card">
      <div class="card-header ">
          <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10"><div class="h2 text-center"> Tareas</div></div>
              <div class="col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1 ">
                <button type="button" class="btn btn-success" [routerLink]="'/tareaAgregar'"><div class="h1"><i class=" far fa-plus-square "></i></div></button>
            </div>
          </div>
      </div>
      <div class="card-body">
          <div class="card-title">
              <div class="row" [formGroup] = 'formularioBuscar'>
                <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                  <input type="text" formControlName= "Nombre" (keyup) = "asignarNombre($event)" class="form-control " placeholder="Escribe Para Filtrar las Tareas">
                </div>
                <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                  <input type="date" formControlName= "Fecha" *ngIf="esTiempo" (change)="tenerTiempo()" class="form-control ">
                  <input type="text" class="form-control" [value]="tenerFechaActual()" *ngIf="!esTiempo" (click)="cambiarTiempo()">
                </div>
                <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                  <select type="text" formControlName= "Prioridad" (change)="asignarPrioridad()" class="form-control " >
                    <option [value]="0">TODAS</option>
                    <option *ngFor="let prioridad of prioridades" [value]="prioridad.id">{{prioridad.descripcion | uppercase}}</option>
                  </select>
                </div>
                <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                  <select type="text" formControlName= "Estado" (change)="asignarEstado()" class="form-control " >
                    <option [value]="0">TODAS</option>
                    <option *ngFor="let estado of tenerEstados()" [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                  </select>
                </div>
                <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                  <button type="button" class="btn btn-secondary " ><div class="h4"><i class="fas fa-search "></i></div></button>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let tarea of tenerTareas()">
              <div class="card " [ngClass]="{'border-danger': tarea.Prioridad === '00', 'border-warning': tarea.Prioridad === '01', 'border-info': tarea.Prioridad === '02'} ">
                <div class="card-header" [ngClass]="{'bg-danger': tarea.Prioridad === '00' && tenerFechaActual() === tenerFecha(tarea.FechaHora).fecha,
                'bg-warning': tarea.Prioridad === '01' && tenerFechaActual() === tenerFecha(tarea.FechaHora).fecha,
                'bg-info': tarea.Prioridad === '02' && tenerFechaActual() === tenerFecha(tarea.FechaHora).fecha} ">
                  <div class="h4">{{tarea.Titulo | uppercase}}</div>
                </div>
                <div class="card-body h8">
                  <div class="row">
                    <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                      <p class="font-weight-bold">Asignado:</p>
                      {{buscarPersona(tarea.Asignado).Persona | uppercase}}
                    </div>
                    <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                      <p class="font-weight-bold">Fecha y Hora:</p>
                      {{tenerFecha(tarea.FechaHora).fecha}} | {{tenerFecha(tarea.FechaHora).tiempo}}
                    </div>
                    <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                      <p class="font-weight-bold">Prioridad:</p>
                      <a *ngFor = "let prioridad of prioridades">
                        <a *ngIf = "prioridad.id === tarea.Prioridad">{{prioridad.descripcion | uppercase}}</a>
                      </a>
                    </div>
                    <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                      <p class="font-weight-bold">Estado:</p>
                      <a *ngFor = "let estado of estados">
                        <a *ngIf = "estado.id === tarea.Estado">{{estado.descripcion | uppercase}}</a>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-footer" >
                  <div class="form-group col-xl col-lg  col-md col-sm col-xs h8 font-weight-bold">
                    <input type="button" class="btn btn-outline-secondary btn-block" value="Ver" [routerLink]="['/tareaDetalle',tarea.id]">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="card-footer"></div>
  </div>
</div>
