<div class="container">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10"><div class="h2 text-center">Movimientos</div> </div>
              <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2 ">
                <button type="button" class="btn btn-success" [routerLink]="'/movimientoAgregar'"><div class="h1"><i class=" far fa-plus-square "></i></div></button>
            </div>
          </div>
      </div>
      <div class="card-body">
          <div class="card-title">
              <div class="row" [formGroup]="formularioBuscar">
                  <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                      <input type="text" formContolName="Descripcion" (keyup)="asignarDescripcion($event)"  class="form-control " placeholder="Escribe Para Filtrar los Movimientos">
                  </div>
                  <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                    <input type="date" formControlName="Fecha" *ngIf="esTiempo" (change)="tenerTiempo()" class="form-control ">
                    <input type="text" class="form-control" [value]="tenerFechaActual()" *ngIf="!esTiempo" (click)="cambiarTiempo()">
                  </div>
                  <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                    <select  formControlName="Tipo" (change)='asignarTipo()' class="form-control " >
                      <option [selected] [value]='0'>TODOS</option>
                      <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.descripcion | uppercase}}S</option>
                    </select>
                  </div>

                  <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                    <button type="button" class="btn btn-secondary " ><div class="h4"><i class="fas fa-search "></i></div></button>
                </div>
              </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">FECHA</th>
                    <th scope="col">HORA</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">INGRESO</th>
                    <th scope="col">GASTO</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movimiento of tenerMovimientos()" [ngClass]="{'bg-warning': tenerTiempo().fecha === tenerFecha(movimiento.FechaHora).fecha}">
                    <td>{{tenerFecha(movimiento.FechaHora).fecha}}</td>
                    <td>{{tenerFecha(movimiento.FechaHora).tiempo}}</td>
                    <td>{{movimiento.Descripcion | uppercase}}</td>
                    <td >
                      <a *ngIf="movimiento.Tipo === 'ing'" class="text-success font-weight-bold">+{{movimiento.Monto | currency}}</a>
                    </td>
                    <td>
                      <a *ngIf="movimiento.Tipo === 'gas'" class="text-danger font-weight-bold">-{{movimiento.Monto | currency}}</a>
                    </td>
                    <td>
                      <input type="button" class="btn btn-info " value="Ver" [routerLink]="['/movimientoDetalle', movimiento.id]" >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
      <div class="card-footer">
          <div class="row container">
              <div class=" col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 card text-white bg-success mb-1">
                  <div class="control-label h5 font-weight-bold">Total Ingresos</div>
                  <div class="control-label h1 text-center font-weight-bold">{{ingresos | currency }}</div>
              </div>
              <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 card text-white bg-danger mb-1">
                  <div class="control-label h5 font-weight-bold">Total Gastos</div>
                  <div class="control-label h1 text-center font-weight-bold">{{gastos | currency }}</div>
              </div>
              <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 card text-white bg-primary mb-1">
                  <div class="control-label h5 font-weight-bold">Total Ganancias</div>
                  <div class="control-label h1 text-center font-weight-bold" [ngClass]="{'text-danger': 0>ganancias, 'text-success':ganancias>0}">{{ganancias | currency }}</div>
              </div>
          </div>
      </div>
  </div>
</div>
