<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
    <div class="card">
        <div class="card-header">
          <div class="row">
              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <div class="h2 text-center">Estudiantes en Asignaturas</div>
              </div>
              <div class="col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1 ">
                  <button type="button" class="btn btn-success" [routerLink]="'/inscripcionAgregar'">
                    <div class="h1">
                      <i class=" far fa-plus-square "></i>
                    </div>
                  </button>
              </div>
          </div>
        </div>
        <div class="card-body">
            <div class="card-title">
                <div class="row" [formGroup] = 'formularioBuscar'>
                    <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                        <input type="text" formControlName="Persona" class="form-control "  placeholder="Escribe Para Filtrar los Estudiantes">
                    </div>
                    <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <select class="form-control" formControlName = 'Asignatura'>
                        <option></option>
                        <option *ngFor="let asignatura of tenerAsignaturas()" [value]="asignatura.id">{{asignatura.Descripcion | uppercase}}</option>
                      </select>
                    </div>
                    <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <select class="form-control"  formControlName = 'Periodo'>
                        <option></option>
                        <option *ngFor="let periodo of tenerPeriodos()" [value]="periodo.id" >{{periodo.Descripcion | uppercase}}</option>
                      </select>
                    </div>
                    <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                      <select class="form-control"  formControlName = 'Estado'>
                        <option [selected] ></option>
                        <option *ngFor="let estado of tenerEstados()" [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                      </select>
                    </div>
                    <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                        <button type="button" class="btn btn-secondary" (click)="tenerInscripciones()"><div class="h4"><i class="fas fa-search "></i></div></button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let inscrito of tenerInscripciones()">
                    <div class="card ">
                        <div class="card-header h5">{{inscrito.Persona | uppercase}}</div>
                        <div class="card-body h8">
                            <div class="row">
                                <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h8 font-weight-bold">
                                    Asignatura
                                </div>
                                <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 text-uppercase">
                                    {{inscrito.Asignatura}}
                                </div>
                                <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h8 font-weight-bold">
                                    Periodo
                                </div>
                                <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 text-uppercase">
                                  <a *ngFor="let periodo of periodos">
                                    <a *ngIf="inscrito.Periodo === periodo.id">{{periodo.Descripcion | uppercase}}</a>
                                  </a>
                                </div>
                                <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h8 font-weight-bold">
                                  Estado
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 text-uppercase">
                                <a *ngFor="let estado of estados">
                                  <a *ngIf="inscrito.Estado === estado.id">{{estado.descripcion | uppercase}}</a>
                                </a>
                              </div>
                            </div>
                          </div>
                        <div class="card-footer form-group font-weight-bold">
                          <input type="button" class="btn btn-outline-secondary btn-block" value="Ver" [routerLink]="['/inscripcionDetalle', inscrito.id]" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
  </div>
