<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
        <div class="h2 text-center"> Agregar Tarea</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioCreado">
                      <div class="row">
                        <div class="form-group col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                          <label class="control-label font-weight-bold">Titulo</label>
                          <input formControlName="Titulo" placeholder="Escriba un Titulo para la tarea" class="form-control" required/>
                          <div *ngIf="formularioCreado.controls['Titulo'].invalid && formularioCreado.controls['Titulo'].dirty || esTitulo" class="alert alert-danger">El Titulo es Requerido</div>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                          <label class="control-label font-weight-bold">Asignado</label>
                          <div class="row">
                            <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                              <input formControlName="buscarPersona" placeholder="Filtre para Seleccionar" (keyup)="asignarPersona()" class="form-control mb-2" required/>
                              <select formControlName="Persona" class="form-control">
                                <option ></option>
                                <option *ngFor="let persona of tenerAsignados()" [value]="persona.codigo">{{persona.descripcion | uppercase}}</option>
                              </select>
                              <div *ngIf="formularioCreado.controls['Persona'].invalid && formularioCreado.controls['Persona'].dirty || esAsignado" class="alert alert-danger">El Titulo es Requerido</div>
                            </div>
                            <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                              <button type="button" class="btn btn-secondary" >
                                <div class="h4">
                                  <i class="fas fa-search "></i>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label font-weight-bold">Descripcion</label>
                            <textarea formControlName="Descripcion" placeholder="Escribe una descripcion para la tarea" class="form-control" rows="3" required></textarea>
                            <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty || esDescripcion" class="alert alert-danger">La Descripcion es Requerida</div>
                        </div>
                          <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                              <label class="control-label font-weight-bold">Fecha y Hora</label>
                              <input type="datetime-local" formControlName="FechaHora" class="form-control" required>
                              <div *ngIf="formularioCreado.controls['FechaHora'].invalid && formularioCreado.controls['FechaHora'].dirty || esFechahora" class="alert alert-danger">La Fecha es Requerida</div>
                          </div>
                          <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                            <label class="control-label font-weight-bold">Prioridad</label>
                            <select formControlName="Prioridad" class ="form-control" required>
                              <option></option>
                              <option *ngFor ="let prioridad of prioridades" [value]="prioridad.id">{{prioridad.descripcion | uppercase}}</option>
                            </select>
                            <div *ngIf="formularioCreado.controls['Prioridad'].invalid && formularioCreado.controls['Prioridad'].dirty || esPrioridad" class="alert alert-danger">La Prioridad es Requerida</div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
            <input type="submit" (click)="agregarTarea()"  value="Agregar" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/tareas']"/>
          </div>
        </div>
      </div>
  </div>
</div>
