<div class="container">
  <div class="card" *ngFor="let aula of tenerAula()">
      <div class="card-header">
        <div class="h2 text-center"> Editar Aula de Edificio</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioEditar">
                    <div class="row">
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                        <label class="control-label font-weight-bold">Aula</label>
                        <input formControlName ="Aula" [value]="aula.Descripcion" class="form-control" required/>
                        <div *ngIf="formularioEditar.controls['Aula'].invalid && formularioEditar.controls['Aula'].dirty" class="alert alert-danger">La Descripcion es Requerida</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label  class="control-label font-weight-bold">Edificio</label>
                          <select formControlName ="Edificio" *ngIf="esEdificio" class ="form-control" required>
                            <option *ngFor="let edificio of tenerEdificios()" [value]="edificio.id">{{edificio.Nombre | uppercase}}</option>
                          </select>
                          <input type="text" *ngIf="!esEdificio" (click)="cambiarEdificio()" [value]='tenerEdificio(aula).Nombre | uppercase' class="form-control">
                          <div *ngIf="formularioEditar.controls['Edificio'].invalid && formularioEditar.controls['Edificio'].dirty" class="alert alert-danger">El Edificio es Requerido</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Estado</label>
                          <select formControlName *ngIf="esEstado" class ="form-control" required  (click)="tenerEstadosEdificios()">
                            <option *ngFor="let estado of  tenerEstadosEdificios()" [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                          </select>
                          <input type="text" *ngIf="!esEstado" (click)="cambiarEstado()" [value]="tenerEstado(aula).descripcion | uppercase" class="form-control">
                          <div *ngIf="formularioEditar.controls['Estado'].invalid && formularioEditar.controls['Estado'].dirty" validation="Folio" class="alert alert-danger">El Estado es Requerido</div>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="form-group mx-auto">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
            <input type="submit" (click)="editarAula(aula)" value="Editar" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/aulaDetalle'"/>
          </div>
        </div>
      </div>
    </div>
</div>
