<div class="container">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="h1 text-center">Asignaturas</div>
              </div>
              <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2 ">
                  <button type="button" class="btn btn-success" [routerLink]="'/asignaturaAgregar'">
                    <div class="h1">
                      <i class=" far fa-plus-square "></i>
                    </div>
                  </button>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="card-title">
              <div class="row" [formGroup]="formularioBuscar">
                  <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7">
                      <input type="text" formControlName="Asignatura" class="form-control " (change)= "filtrarAsignaturas()" placeholder="Escribe Para Filtrar las Asignaturas">
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <select type="text" formControlName="Estado" class="form-control " (change)="asignarEstado()">
                        <option *ngFor="let estado of tenerEstadosAsignaturas()"  [selected]=1 [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                      </select>
                  </div>
                  <div class=" col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                    <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                        <button type="button" class="btn btn-secondary " (click)="filtrarAsignaturas()"><div class="h4"><i class="fas fa-search "></i></div></button>
                    </div>
                  </div>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngFor="let asignatura of filtrarAsignaturas()">
                  <div class="card mb-3">
                      <div class="card-header">
                        <div class="h5 font-weight-bold">{{asignatura.Descripcion | uppercase}}</div></div>
                      <div class="card-body h8">
                          <div class="row">
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h8 font-weight-bold">
                                  Codigo
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 text-uppercase">
                                  {{asignatura.Codigo | uppercase}}
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 font-weight-bold">
                                  Estado
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h9 text-uppercase">
                                  <a *ngFor="let estado of estados">
                                    <a *ngIf="estado.id == asignatura.Estado">{{estado.descripcion | uppercase}}</a>
                                  </a>
                              </div>
                          </div>
                          <hr>
                          <div class="form-group col-xl col-lg  col-md col-sm col-xs h8 font-weight-bold">
                              <input type="button" class="btn btn-outline-secondary btn-block" value="Ver" [routerLink]="['/asignaturaDetalle', asignatura.id]">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer"></div>
  </div>
</div>
