<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let cursoestudiante of cursosEstudiantes">
  <div class="card" *ngIf="cursoestudiante.id === idEstudianteCurso">
      <div class="card-header">
        <div class="h2 text-center">Estudiante en Curso</div>
      </div>
          <div class="card-body">
              <div class="row">
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Curso
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      <a *ngFor="let curso of cursos">
                        <a *ngIf="curso.id === cursoestudiante.Curso">{{curso.Descripcion | uppercase}} - {{curso.Codigo | uppercase}}</a>
                      </a>
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Persona
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      <a *ngFor="let estudiante of estudiantes">
                        <a *ngIf="estudiante.id === cursoestudiante.Estudiante">
                          <a *ngFor="let persona of personas">
                            <a *ngIf="persona.id === estudiante.Persona">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}</a>
                          </a>
                        </a>
                      </a>
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Codigo Estudiante
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                    <a *ngFor="let estudiante of estudiantes">
                      <a *ngIf="estudiante.id === cursoestudiante.Estudiante">{{estudiante.Codigo | uppercase}}</a>
                    </a>
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                    Periodo
                </div>
                <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                  <a *ngFor="let periodo of periodos">
                    <a *ngIf="periodo.id === cursoestudiante.Periodo">{{periodo.Descripcion | uppercase}} - {{periodo.Codigo | uppercase}}</a>
                  </a>
                </div>
                <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                  Duracion
              </div>
              <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                <a *ngFor="let periodo of periodos">
                  <a *ngIf="periodo.id === cursoestudiante.Periodo">Desde {{tenerFecha(periodo.fechaInicio).fechaNacimiento | uppercase}} hasta  {{tenerFecha(periodo.fechaFin).fechaNacimiento | uppercase}}</a>
                </a>
              </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Estado
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      <a *ngFor="let estado of estados">
                        <a *ngIf="estado.id === cursoestudiante.Estado">{{estado.descripcion | uppercase}}</a>
                      </a>
                  </div>
              </div>
          </div>
          <div class="card-footer form-group">
              <div class="row">
                  <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                    <input type="submit" value="Editar" class="btn btn-outline-info btn-block font-weight-bold" [routerLink]="['/estudianteCursoEditar',cursoestudiante.id]"/>
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <input type="submit" value="Eliminar" class="btn btn-warning btn-block font-weight-bold" />
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <input type="submit" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/estudianteCursos']"/>
                    </div>
              </div>
          </div>
  </div>
</div>
