<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let periodo of periodos">
  <div class="card" *ngIf="idPeriodo == periodo.id">
    <div class="card-header">
      <div class="h1 text-center"><a class="h2"><i class="far fa-edit"></i></a><i class="far fa-calendar-alt"></i> | Editar Periodo</div>
    </div>
    <div class="card-body">
      <div class="row overflow-auto m-1" style="height: 500px; ">
          <div class="col-xl col-lg col-md col-sm col-xs">
              <form [formGroup]="formularioEditar">
                <div class="row">
                  <div class="form-group col-xl-8 col-lg-8  col-md-8 col-sm-8 col-xs-8">
                    <label class="control-label font-weight-bold h5">Periodo</label>
                    <input formControlName="Descripcion" style="font-size: 15px;" [value] = "periodo.Descripcion"[value] = "periodo.Descripcion" class="form-control" placeholder="Nombre de Periodo" required/>
                    <div *ngIf="formularioEditar.controls['Descripcion'].invalid && formularioEditar.controls['Descripcion'].dirty" class="h5 alert alert-danger">El Periodo es Requerido</div>
                  </div>
                  <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <label class="control-label font-weight-bold h5">Codigo</label>
                    <input formControlName="Codigo" style="font-size: 15px;" [value] = "periodo.Codigo" class="form-control" placeholder="Codigo de Periodo" required/>
                    <div *ngIf="formularioEditar.controls['Codigo'].invalid && formularioEditar.controls['Codigo'].dirty" class="h5 alert alert-danger">El Codigo es Requerido</div>
                  </div>
                  <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                      <label class="control-label font-weight-bold h5">Inicio de Periodo</label>
                      <input type="date" (change)=" tenerCantidadSemanas()" style="font-size: 15px;" *ngIf="esRango" formControlName="Inicio" class="form-control" required/>
                      <input [value]="obtenerFecha(periodo.fechaInicio).fecha" style="font-size: 15px;" (click)="cambiarRango()" *ngIf="!esRango" type="text" class="form-control">
                      <div  *ngIf="formularioEditar.controls['Inicio'].invalid && formularioEditar.controls['Inicio'].dirty" class="h5 alert alert-danger">El Inicio de Periodo es Requerido</div>
                      <div *ngIf="0>tiempo && formularioEditar.controls['Fin'].dirty" class="h5 alert alert-danger">Intervalo de Fechas Erroneo</div>
                  </div>
                  <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <label class="control-label font-weight-bold h5">Fin de Periodo</label>
                    <input type="date" formControlName="Fin" *ngIf="esRango" style="font-size: 15px;" (change)="tenerCantidadSemanas()" class="form-control" required />
                    <input type="text" [value]="obtenerFecha(periodo.fechaFin).fecha" style="font-size: 15px;" (click)="cambiarRango()" *ngIf="!esRango" class="form-control">
                    <div *ngIf="formularioEditar.controls['Fin'].invalid && formularioEditar.controls['Fin'].dirty" class="h5 alert alert-danger">El Fin de Periodo es Requerido</div>
                    <div *ngIf="0>tiempo && formularioEditar.controls['Fin'].dirty" class="h5 alert alert-danger">Intervalo de Fechas Erroneo</div>
                  </div>
                  <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <label class="control-label font-weight-bold h5">Duracion en Semanas</label>
                    <input type="number" [value] = "tenerCantidadSemanas(periodo)" style="font-size: 15px;" formControlName="Tiempo"  class="form-control" required />
                    <div *ngIf="formularioEditar.controls['Fin'].invalid && formularioEditar.controls['Fin'].dirty" class="h5 alert alert-danger">El Fin de Periodo es Requerido</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label h5">Estado</label>
                  <select formControlName="Estado" class ="form-control" style="font-size: 15px;" *ngIf="esEstado" required>
                    <option *ngFor="let estado of tenerEstadosPeriodos()" [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                  </select>
                  <a *ngFor="let estado of tenerEstadosPeriodos()">
                    <a *ngIf="estado.id == periodo.Estado">
                      <input type="text" class="form-control" *ngIf="!esEstado" style="font-size: 15px;" (click)="cambiarEstado()" [value]="estado.descripcion | uppercase">
                    </a>
                  </a>
                  <div *ngIf="formularioEditar.controls['Estado'].invalid && formularioEditar.controls['Estado'].dirty" class="h5 alert alert-danger">El Estado es Requerido</div>
                </div>
              </form>
          </div>
        </div>
      </div>
    <div class="card-footer">
      <div class="row form-group mx-auto">
        <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
          <button class="btn btn-outline-info btn-block"  (click)="editarPeriodo(periodo)">
            <a class="h3 font-weight-bold"><i class="far fa-edit"></i> | Editar</a>
          </button>
        </div>
        <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
          <button class="btn btn-outline-danger btn-block " [routerLink]="['/periodoDetalle',idPeriodo]" >
            <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
