<div class="container">
  <div class="card">
      <div class="card card-header"><div class="h2 text-center">Mensaje</div> </div>
          <div class="card card-body">
              <div class="row">
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Quien Envia
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      emisor
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Quien Recibe
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      receptor
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Asunto de Mensaje
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      Asunto
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Cuerpo de Mensaje
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 ">
                      Cuerpo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Documento
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 ">
                      Documento
                      <img src="..." alt="" class="rounded mx-auto d-block" name="muestra">
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Fecha de Recepcion
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      00/00/0000
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Hora de Recepcion
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      00:00:00
                  </div>

                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Estado
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      estatus
                  </div>
              </div>
          </div>
          <div class="card card-footer form-group">
              <div class="row">

                  <div class="col-xl col-lg  col-md col-sm col-xs">
                      <input type="submit" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/mensajes']"  />
                  </div>
              </div>
          </div>
  </div>
</div>
