<div class="container" *ngFor="let acta of actasNacimientos">
  <div class="card" *ngIf="acta.id === idActaNacimiento">
    <div class="card-header"><div class="h1 text-center"><i class="far fa-file-alt"></i> | Acta de Nacimiento</div> </div>
      <div class="card-body">
          <div class="row overflow-auto m-1" style="height: 500px; ">
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Persona:</p>
              <a *ngFor="let persona of personas">
                <a *ngIf = "persona.id === acta.Persona">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}</a>
              </a>
            </div>
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Folio:</p>
              {{acta.Folio | uppercase}}
            </div>
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Año:</p>
              {{acta.Anio | uppercase}}
            </div>
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Libro:</p>
              {{acta.Libro | uppercase}}
            </div>
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Numero:</p>
              {{acta.Numero | uppercase}}
            </div>
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
              <p class="text-center font-weight-bold mb-0">Circunscripcion:</p>
              <a *ngFor = "let circunscripcion of circunscripciones">
                <a *ngIf = "circunscripcion.id === acta.Circunscripcion">
                  {{circunscripcion.descripcion | uppercase }}
                </a>
              </a>
            </div>
            <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12" *ngIf="acta.Foto != '' ">
              <p class="text-center font-weight-bold mb-0 h5">COPIA DIGITAL:</p>
              <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 card mt-2 mb-2" >
                <img [src]="acta.Foto" alt="" class=" img-thumbnail rounded-circle mx-auto img-fluid mt-2 mb-2">
              </div>
            </div>
        </div>
        <hr>
        <div class="form-group  h5 text-uppercase text-center">
          <p class="text-center font-weight-bold mb-0">Estado:</p>
          <a *ngFor = "let estado of estados">
            <a *ngIf = "estado.id === acta.Estado">{{estado.descripcion | uppercase}}</a>
          </a>
        </div>
      </div>
      <div class="card-footer">
        <div class="row form-group mx-auto">
          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 mb-3">
            <button class="btn btn-outline-info btn-block " [routerLink]="['/actanacimientoEditar', acta.id]">
              <a class="h3 font-weight-bold"><i class="far fa-edit"></i> | Editar</a>
            </button>
          </div>
          <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
            <button class="btn btn-warning btn-block " (click)="eliminarActa(acta)" >
              <a class="h3 font-weight-bold"><i class="fas fa-ban"></i> | Eliminar</a>
            </button>
          </div>
          <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
            <button class="btn btn-outline-danger btn-block " [routerLink]="['/personaDetalle', acta.Persona]">
              <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Atras</a>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
