<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header ">
        <div class="h2 text-center">Inscribir Estudiante a una Asignatura</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioCreado">
                      <div class="row">
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label">Periodo</label>
                          <select formControlName="Periodo" class ="form-control" required>
                            <option></option>
                            <option *ngFor="let periodo of tenerPeriodos()" [value]="periodo.id">{{periodo.Descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['Periodo'].invalid && formularioCreado.controls['Periodo'].dirty" class="alert alert-danger">El Periodo es Requerido </div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label">Curso</label>
                          <select formControlName="Curso" class ="form-control" required>
                            <option></option>
                            <option *ngFor="let curso of tenerCursos()" [value]="curso.id">{{curso.Descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['Curso'].invalid && formularioCreado.controls['Curso'].dirty" class="alert alert-danger">El Periodo es Requerido </div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label">Asignatura</label>
                          <select formControlName="Asignatura" class ="form-control" required>
                            <option></option>
                            <option *ngFor="let asignatura of tenerAsignaturas()" [value]="asignatura.id">{{asignatura.Descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['Asignatura'].invalid && formularioCreado.controls['Asignatura'].dirty" class="alert alert-danger">El Periodo es Requerido </div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label h6 font-weight-bold">Estudiante y Curso</label>
                          <select formControlName="EstudianteCurso" class ="form-control">
                            <option></option>
                            <option *ngFor="let estudiante of tenerCursosEstudiantes()" [value]="estudiante.id">{{estudiante.Estudiante | uppercase}} | {{estudiante.Curso | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['EstudianteCurso'].invalid && formularioCreado.controls['EstudianteCurso'].dirty" class="alert alert-danger">El Estudiante es Requerido </div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label h6 font-weight-bold">Encargado y Asignatura</label>
                          <select formControlName="AsignaturaProfesor" class="form-control" required>
                            <option></option>
                            <option *ngFor="let asignatura of tenerAsignaturasEmpleados()" [value]="asignatura.id">{{asignatura.Profesor | uppercase}} | {{asignatura.Asignatura | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['AsignaturaProfesor'].invalid && formularioCreado.controls['AsignaturaProfesor'].dirty" class="alert alert-danger">La Asignatura es Requerida </div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label">Aula</label>
                          <select formControlName="Aula" class ="form-control" required>
                            <option></option>
                            <option *ngFor="let aula of tenerAulas()" [value]="aula.id">{{aula.Descripcion | uppercase}}</option>
                          </select>
                          <div *ngIf="formularioCreado.controls['Aula'].invalid && formularioCreado.controls['Aula'].dirty" class="alert alert-danger">El Aula es Requerida </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="form-group mx-auto col-xl-8 col-lg-8  col-md-8 col-sm-10 col-xs-10">
              <input type="button" [disabled] = 'formularioCreado.invalid'  value="Agregar" (click)="agregarInscripcionEstudiante(buscarInscripcionEstudiante())" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-4 col-lg-4  col-md-4 col-sm-10 col-xs-10">
              <input type="button" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/inscripciones']"/>
          </div>
      </div>
      </div>
  </div>
</div>
