<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header ">
        <div class="container">
          <div class="row">
            <div class="col col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center h1"><i class="fas fa-user-circle "></i> | Personas</div>
            <div class="col col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1 ">
              <button type="button" class="btn btn-success float-right" [routerLink]="'/personaAgregar'"><div class="h1"><i class=" fas fa-plus "></i></div></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" [formGroup] = "buscarFormulario">
          <div class="card-title">
            <div class="row" >
              <div class="col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 mb-3">
                <p class="font-weight-bold mb-0 h5" >Persona:</p>
                <input type="text" style="font-size: 15px;"  class="form-control input-lg"   formControlName = "Persona" placeholder="Escribe Para Filtrar las Personas">
              </div>
              <div class="col col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2  text-center">
                <div class="row">
                  <div class="col col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 ">
                    <button class = "btn btn-outline-danger" (click)="listadoPersonaPDF()">
                      <p class = "h1"><i class="fas fa-print"></i></p>
                    </button>
                  </div>
                  <div class="col col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 ">
                    <button class = "btn btn-outline-primary" (click)="cambiarPresentacion()">
                      <p class = "h1" *ngIf="!presentacion"><i class="fas fa-list"></i></p>
                      <p class = "h1" *ngIf="presentacion"><i class="fas fa-table"></i></p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row overflow-auto m-1" style="height: 500px; width: 100%;" *ngIf="presentacion">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-3 " *ngFor="let persona of filtrarPersonas(buscarFormulario.value.Persona)">
              <div class="card">
                  <div class="card-header">
                    <div class="h4">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group h5 text-uppercase ">
                      <p class="font-weight-bold">Cumpleaños:</p>
                      {{obtenerFecha(persona.FechaNacimiento).fechaNacimiento}}
                    </div>
                    <div class="form-group h5 text-uppercase ">
                      <p class="font-weight-bold">Nacionalidad:</p>
                      <a *ngFor="let nacionalidad of paises">
                        <a value="nacionalidad.id" *ngIf="nacionalidad.id === persona.Nacionalidad">{{nacionalidad.nacionalidad}}</a>
                      </a>
                    </div>
                    <div class="form-group h5 text-uppercase ">
                      <p class="font-weight-bold">Sexo:</p>
                      <a *ngFor="let sexo of sexos">
                        <a value="sexo.id" *ngIf="sexo.id === persona.Sexo">{{sexo.descripcion}}</a>
                      </a>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-outline-secondary btn-block" value="Ver" [routerLink]="['/personaDetalle', persona.id]" routerLinkActive="router-link-active" >
                      <a class="h4"><i class="far fa-eye"></i> Ver</a>
                    </button>
                  </div>
              </div>
            </div>
            <table class="table table-hover h5" id="tbPersonas" *ngIf="!presentacion">
              <thead class="h4">
                <tr>
                  <th scope="col" width = "30%">Nombre</th>
                  <th scope="col" width = "30%">Cumpleaños</th>
                  <th scope="col" width = "20%">Nacionalidad</th>
                  <th scope="col" width = "10%">Sexo</th>
                  <th scope="col" width = "10%"></th>
                </tr>
              </thead>
              <tbody *ngFor="let persona of filtrarPersonas(buscarFormulario.value.Persona)">
                <tr>
                  <td>
                    {{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}
                  </td>
                  <td>
                    {{obtenerFecha(persona.FechaNacimiento).fechaNacimiento | uppercase}}
                  </td>
                  <td>
                    <a *ngFor="let nacionalidad of paises">
                      <a value="nacionalidad.id" *ngIf="nacionalidad.id === persona.Nacionalidad">{{nacionalidad.nacionalidad | uppercase}}</a>
                    </a>
                  </td>
                  <td>
                    <a *ngFor="let sexo of sexos">
                      <a value="sexo.id" *ngIf="sexo.id === persona.Sexo">{{sexo.descripcion | uppercase}}</a>
                    </a>
                  </td>
                  <td>
                    <table >
                      <tr>
                        <td>
                          <button type="button" class="btn btn-warning" [routerLink]="['/personaDetalle',persona.id]"><a class="h4"><i class="far fa-eye"></i></a></button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary" [routerLink]="['/personaEditar',persona.id]"><a class="h4"><i class="far fa-edit"></i></a></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="card-footer"></div>
  </div>
</div>
