<div class="container" *ngFor="let aula of aulas">
  <div class="card"  *ngIf="aula.id === idAula">
      <div class=" card-header">
        <div class="h1 text-center">Aula de Edificio</div>
      </div>
          <div class=" card-body" >
              <div class="row">
                  <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12" *ngIf="tenerEdificio(aula).Foto != '' ">
                    <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 card mt-2 mb-2" >
                      <img [src]="tenerEdificio(aula).Foto" alt="" class=" img-thumbnail rounded-circle mx-auto img-fluid mt-2 mb-2">
                    </div>
                  </div>

                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                      Aula
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
                      {{aula.Descripcion | uppercase}}
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                      Edificio
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
                      <a *ngFor="let edificio of edificios">
                        <a *ngIf="edificio.id === aula.Edificio">{{edificio.Nombre | uppercase}}</a>
                      </a>
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                    Direccion
                </div>
                <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
                  <a *ngFor="let edificio of edificios">
                    <a *ngIf="edificio.id === aula.Edificio">{{edificio.Direccion | uppercase}}</a>
                  </a>
                </div>
                <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                  Ciudad
              </div>
              <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
                <a *ngFor="let edificio of edificios">
                  <a *ngIf="edificio.id === aula.Edificio">
                    <a *ngFor="let ciudad of ciudades">
                      <a *ngIf="ciudad.id === edificio.Ciudad">{{ciudad.descripcion}}</a>
                    </a>
                  </a>
                </a>
              </div>
              <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                Pais
            </div>
            <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
              <a *ngFor="let edificio of edificios">
                <a *ngIf="edificio.id === aula.Edificio">
                  <a *ngFor="let pais of paises">
                    <a *ngIf="pais.id === edificio.Pais">{{pais.descripcion}}</a>
                  </a>
                </a>
              </a>
            </div>
            <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
                Estado
            </div>
            <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
              <a *ngFor="let estado of estados">
                <a *ngIf="estado.id === aula.Estado">{{estado.descripcion | uppercase}}</a>
              </a>
            </div>
          </div>
        </div>
        <div class=" card-footer form-group">
          <div class="row">
              <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                <input type="submit" value="Editar" class="btn btn-outline-info btn-block font-weight-bold" [routerLink]="['/aulaEditar', idAula]"/>
              </div>
              <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                <input type="submit" value="Eliminar" class="btn btn-warning btn-block font-weight-bold" />
              </div>
              <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                  <input type="submit" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/aulas']"/>
                </div>
          </div>
        </div>
  </div>
</div>
