<div class="container">
  <div class="card">
      <div class="card card-header">
        <div class="h2 text-center">Calificacion de Asignatura</div>
      </div>
          <div class="card card-body">
              <div class="row">
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold text-right">
                      Asignatura:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      Asignatura - Codigo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Profesor:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      Nombre Apellido - Codigo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Estudiante:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      Nombre Apellido - Codigo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Calificacion:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      00
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Estado:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      estatus
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Periodo de Calificacion:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      periodo
                  </div>
                  <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h5 font-weight-bold  text-right">
                      Fecha de Calificacion:
                  </div>
                  <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h6 text-uppercase">
                      00/00/0000
                  </div>

              </div>
          </div>
          <div class="card card-footer form-group">
              <div class="row">
                  <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                    <input type="button" value="Editar" class="btn btn-outline-info btn-block font-weight-bold" [routerLink]="'/calificacionEditar'"/>
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <input type="button" value="Eliminar" class="btn btn-warning btn-block font-weight-bold" />
                  </div>
                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <input type="button" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/calificaciones'"/>
                  </div>
              </div>
          </div>
  </div>
</div>
