<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let calificacion of calificaciones">
  <div class="card" *ngIf="calificacion.id === idCalificacion">
    <div class="card-header">
      <div class="h2 text-center">Calificacion de Asignatura de Estudiante</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
            Estudiante:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let asignado of estudiantesCursos">
                <a *ngIf="asignado.id === asignaturaestudiante.EstudianteCurso">
                  <a *ngFor="let estudiante of estudiantes">
                    <a *ngIf="estudiante.id === asignado.Estudiante">
                      <a *ngFor="let persona of personas">
                        <a *ngIf="persona.id === estudiante.Persona">{{persona.Nombre | uppercase}}  {{persona.Apellido | uppercase}} | {{estudiante.Codigo}}</a>
                      </a>
                    </a>
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Curso:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let asignado of estudiantesCursos">
                <a *ngIf="asignado.id === asignaturaestudiante.EstudianteCurso">
                  <a *ngFor="let curso of cursos">
                    <a *ngIf="curso.id === asignado.Curso">{{curso.Descripcion | uppercase}} | {{curso.Codigo | uppercase}}</a>
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
            Asignatura:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let asignado of asignaturasEmpleados">
                <a *ngIf ="asignado.id === asignaturaestudiante.AsignaturaEncargado">
                  <a *ngFor="let asignacion of cursosAsignaturas">
                    <a *ngIf="asignacion.id === asignado.AsignaturaCurso">
                      <a *ngFor="let asignatura of asignaturas">
                        <a *ngIf="asignatura.id === asignacion.Asignatura">{{asignatura.Descripcion | uppercase}} | {{asignatura.Codigo | uppercase}}</a>
                      </a>
                    </a>
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
            Calificacion:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          {{calificacion.Calificacion | uppercase}}
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Profesor:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let asignado of asignaturasEmpleados">
                <a *ngIf ="asignado.id === asignaturaestudiante.AsignaturaEncargado">
                  <a *ngFor="let profesor of profesores">
                    <a *ngIf="profesor.id === asignado.Profesor">
                      <a *ngFor="let persona of personas">
                        <a *ngIf="persona.id === profesor.Persona">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}} | {{profesor.Codigo | uppercase}}</a>
                      </a>
                    </a>
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Periodo:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let periodo of periodos">
                <a *ngIf="periodo.id === asignaturaestudiante.Periodo">{{periodo.Descripcion | uppercase}} | {{periodo.Codigo | uppercase}}</a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Aula:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let aula of aulas">
                <a *ngIf="aula.id === asignaturaestudiante.Aula">{{aula.Descripcion | uppercase}}</a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Edificio:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let asignaturaestudiante of asignaturasEmpleadosEstudiantes">
            <a *ngIf="asignaturaestudiante.id === calificacion.AsignaturaEmpleadoEstudiante">
              <a *ngFor="let aula of aulas">
                <a *ngIf="aula.id === asignaturaestudiante.Aula">
                  <a *ngFor="let edificio of edificios">
                    <a *ngIf="edificio.id === aula.Edificio">{{edificio.Nombre | uppercase}}</a>
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
          Fecha de Calificacion:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          {{tenerFecha(calificacion.FechaCalificacion).fechaNacimiento}}
        </div>
        <div class="form-group col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 h4 font-weight-bold text-right">
            Estado:
        </div>
        <div class="form-group col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 h5 text-uppercase">
          <a *ngFor="let estado of estados">
            <a *ngIf="estado.id === calificacion.Estado">{{estado.descripcion | uppercase}}</a>
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer form-group">
      <div class="row">
        <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
          <input type="button" value="Editar" class="btn btn-outline-info btn-block font-weight-bold" [routerLink]="['/calificacionEditar', idCalificacion]"/>
        </div>
        <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
          <input type="button" value="Eliminar" class="btn btn-warning btn-block font-weight-bold" />
        </div>
        <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
          <input type="button" value="Atras" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="['/calificaciones']"/>
        </div>
      </div>
    </div>
  </div>
</div>
