<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let cuenta of cuentas">
  <div class="card" *ngIf="cuenta.id === idCuenta">
      <div class="card-header ">
        <div class="h2 text-center">Editar Cuenta</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                  <form [formGroup]="formularioCreado">
                    <div class="row">
                      <div class="form-group col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                        <label  class="control-label font-weight-bold">Tipo de Cuenta</label>
                          <select formControlName="Tipo" *ngIf ="esTipo" class ="form-control" required>
                              <option></option>
                              <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.descripcion | uppercase}}</option>
                            </select>
                            <a *ngFor = "let tipo of tipos">
                              <a *ngIf = "tipo.id === cuenta.Tipo">
                                <input type="text" [value] = "tipo.descripcion | uppercase" *ngIf ="!esTipo" (click)="cambiarTipo()"  class="form-control">
                              </a>
                            </a>
                          <div *ngIf="formularioCreado.controls['Tipo'].invalid && formularioCreado.controls['Tipo'].dirty" class="alert alert-danger">El Tipo de Cuenta es Requerido</div>
                        </div>
                        <div class="form-group col-xl-9 col-lg-9  col-md-9 col-sm-9 col-xs-9">
                          <label class="control-label font-weight-bold">Descripcion</label>
                          <input formControlName="Descripcion" [value] = "cuenta.Descripcion" placeholder="Escribe una descripcion de esta cuenta" class="form-control" required/>
                          <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty" class="alert alert-danger">La Descripcion de Cuenta es Requerida</div>
                        </div>
                        <div class="form-group col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
                          <label class="control-label font-weight-bold">Monto</label>
                          <input type="number" formControlName="Monto" [value] = "cuenta.Monto" class="form-control" required/>
                          <div *ngIf="formularioCreado.controls['Monto'].invalid && formularioCreado.controls['Monto'].dirty" class="alert alert-danger">El Monto de Cuenta es Requerido</div>
                        </div>
                        <div class="form-group col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                          <label class="control-label font-weight-bold">Fecha de Cuenta</label>
                          <input type="date" formControlName="Fecha" *ngIf="esFecha" class="form-control" required/>
                          <input type="text" class="form-control" *ngIf="!esFecha" (click)="cambiarFecha()"  [value]="tenerFecha(cuenta.Fecha).fecha">
                          <div *ngIf="formularioCreado.controls['Fecha'].invalid && formularioCreado.controls['Fecha'].dirty" class="alert alert-danger">La Fecha de Cuenta es Requerida</div>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4">
                          <label class="control-label font-weight-bold">Persona</label>
                          <a *ngFor = "let persona of personas">
                            <a *ngIf = "persona.id === cuenta.Persona">
                              <input type="text" formControlName="Persona" class="form-control"  value = "{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}} | {{tenerFecha(persona.FechaNacimiento).fechaNacimiento | uppercase}}">
                            </a>
                          </a>
                        </div>
                        <div class="form-group col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                          <label class="control-label font-weight-bold">Estado</label>
                          <select formControlName="Estado" *ngIf="esEstado" class="form-control">
                            <option></option>
                            <option *ngFor = "let estado of  tenerEstados()" [value] = "estado.id">{{estado.descripcion | uppercase}}</option>
                          </select>
                          <a *ngFor = "let estado of estados">
                            <a *ngIf = "estado.id === cuenta.Estado">
                              <input type="text" class="form-control" *ngIf="!esEstado" (click)="cambiarEstado()" [value] = "estado.descripcion | uppercase">
                            </a>
                          </a>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class=" row">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
            <input type="submit" value="Agregar" (click)="editarCuenta(cuenta)" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/cuentas'"/>
          </div>
        </div>
      </div>
  </div>
</div>
