<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let asignatura of asignaturas">
  <div class="card" *ngIf="asignatura.id == idAsignatura">
    <div class=" card-header">
      <div class = "row">
        <div class="col col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 ">
          <div class="h1 text-center"><i class="fas fa-book-open"></i> | Asignatura</div>
        </div>
        <div class="col col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2 text-right">
          <button class = "btn btn-outline-danger" (click)="imprimirAsignaturaPDF(asignatura)">
            <p class = "h1"><i class="fas fa-print"></i></p>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row overflow-auto m-1" style="height: 480px;">
        <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
          <p class="text-center font-weight-bold mb-0">Asignatura:</p>
          {{asignatura.Descripcion | uppercase}}
        </div>
        <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
          <p class="text-center font-weight-bold mb-0">Codigo:</p>
          {{asignatura.Codigo | uppercase}}
        </div>
        <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
          <p class="text-center font-weight-bold mb-0">Duracion:</p>
          {{cantidadSemana(asignatura.Tiempo)}}
        </div>
        <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase text-center">
          <p class="text-center font-weight-bold mb-0">Estado:</p>
          <a *ngFor="let estado of estados">
            <a *ngIf="estado.id === asignatura.Estado"> {{estado.descripcion}}</a>
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <div class="row form-group mx-auto">
        <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 mb-3">
          <button class="btn btn-outline-info btn-block " [routerLink]="['/asignaturaEditar', idAsignatura]">
            <a class="h3 font-weight-bold"><i class="far fa-edit"></i> | Editar</a>
          </button>
        </div>
        <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
          <button class="btn btn-warning btn-block" (click)="eliminarAsignatura(asignatura)">
            <a class="h3 font-weight-bold"><i class="fas fa-ban"></i> | Eliminar</a>
          </button>
        </div>
        <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
          <button class="btn btn-outline-danger btn-block " [routerLink]="['/asignaturas']">
            <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Atras</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
