<div class="container" *ngIf="!esEmpleado">
  <progressbar [value]=50 type="primary" [striped] ="false" *ngIf="accion === 'Encargado'" class="mb-5"></progressbar>
  <div class="card">
      <div class="card-header">
        <div class="h1 text-center"><a class="h2"><i class=" fas fa-plus"></i></a><i class="fas fa-user-circle text-left"></i> | Agregar {{accion}}</div>
      </div>
      <div class="card-body">
        <div class="row overflow-auto m-1" style="height: 500px; ">
          <form [formGroup]="formularioPersona">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 mb-3">
              <label class="control-label h5 font-weight-bold">Nombre: </label>
              <input  style="font-size: 15px;"  formControlName="Nombre" style="font-size: 15px;" class="form-control" placeholder="Nombres" required/>
              <div *ngIf="formularioPersona.controls['Nombre'].invalid && formularioPersona.controls['Nombre'].dirty" class="alert alert-danger h5">El Nombre es Requerido</div>
            </div>
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 mb-3">
              <label class="control-label h5 font-weight-bold">Apellido: </label>
              <input  style="font-size: 15px;"  formControlName="Apellido" class="form-control" placeholder="Apellidos" required/>
              <div *ngIf="formularioPersona.controls['Apellido'].invalid && formularioPersona.controls['Apellido'].dirty" class="alert alert-danger h5">El Apellido es Requerido</div>
            </div>
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 mb-3">
              <label class="control-label h5 font-weight-bold">Fecha de Nacimiento: </label>
              <input  style="font-size: 15px;"  formControlName="FechaNacimiento" class="form-control" type="date" required (change) = "revisarFechaNacimiento()"/>
              <div *ngIf="formularioPersona.controls['FechaNacimiento'].invalid && formularioPersona.controls['FechaNacimiento'].dirty" class="alert alert-danger h5">La fecha de Nacimiento es Requerido</div>
              <div *ngIf="!esMenorAnioActual" class="alert alert-danger h5">Esta Fecha no es aceptada</div>
            </div>
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 mb-3">
              <label for="Sexo" class="h5 control-label font-weight-bold">Sexo: </label>
              <select  style="font-size: 15px;"  formControlName="Sexo" class ="form-control" required>
                <option *ngFor ="let sexo of sexos" value="{{sexo.id}}"> {{sexo.descripcion | uppercase}}</option>
              </select>
              <div *ngIf="formularioPersona.controls['Sexo'].invalid && formularioPersona.controls['Sexo'].dirty" class="alert alert-danger h5">El Sexo es Requerido</div>
            </div>
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 mb-3">
              <label class="h4 control-label h5 font-weight-bold">Nacionalidad: </label>
              <select  style="font-size: 15px;"  formControlName="Nacionalidad" class ="form-control" required>
                <option *ngFor ="let pais of paises" value="{{pais.id}}"> {{pais.nacionalidad | uppercase}}</option>
              </select>
              <div *ngIf="formularioPersona.controls['Nacionalidad'].invalid && formularioPersona.controls['Nacionalidad'].dirty" class="alert alert-danger h5">El Nacionalidad es Requerido</div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
              <label class="h4 control-label h5 font-weight-bold">Pais: </label>
              <select  style="font-size: 15px;"  formControlName="Pais" class ="form-control" required (change) = "tenerCiudades()">
                <option *ngFor ="let pais of paises" value="{{pais.id}}"> {{pais.descripcion | uppercase}}</option>
              </select>
              <div *ngIf="formularioPersona.controls['Pais'].invalid && formularioPersona.controls['Pais'].dirty" class="alert alert-danger h5">El Pais es Requerido</div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3 mb-3">
                <label class="h4 control-label h5 font-weight-bold">Ciudad: </label>
                <select  style="font-size: 15px;"  formControlName="Ciudad" class ="form-control" required>
                  <option *ngFor ="let ciudad of ciudades" value="{{ciudad.id}}"> {{ciudad.descripcion | uppercase}}</option>
                </select>
                <div *ngIf="formularioPersona.controls['Ciudad'].invalid && formularioPersona.controls['Ciudad'].dirty" class="alert alert-danger h5">La Ciudad es Requerida</div>
            </div>
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6 mb-3">
              <label class="control-label h5 font-weight-bold">Direccion: </label>
              <input  style="font-size: 15px;"  formControlName="Direccion" class="form-control" placeholder="calle #00, barrio" required/>
              <div *ngIf="formularioPersona.controls['Direccion'].invalid && formularioPersona.controls['Direccion'].dirty" class="alert alert-danger h5">El Direccion es Requerido tipo calle, barrio</div>
            </div>
            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label class="control-label h5 font-weight-bold">Tipo Telefono : </label>
              <select  style="font-size: 15px;"  formControlName="TipoTelefono" class="form-control" >
                  <option required *ngFor = "let tipo of tipoTelefonos" value = "{{tipo.id}}">{{tipo.descripcion | uppercase}}</option>
              </select>
              <div *ngIf="formularioPersona.controls['TipoTelefono'].invalid && formularioPersona.controls['TipoTelefono'].dirty" class="alert alert-danger h5">El Tipo de Telefono es Requerido</div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
              <label  class="h5 control-label font-weight-bold">Telefono: </label>
              <input type="tel" pattern=".{10}"  style="font-size: 15px;"  formControlName="Telefono" class="form-control"  placeholder="809-000-0000" required/>
              <div *ngIf="formularioPersona.controls['Telefono'].invalid && formularioPersona.controls['Telefono'].dirty" class="alert alert-danger h5">El Telefono es Requerido tipo 8090001234</div>
            </div>
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
              <label class="h5 control-label font-weight-bold">Correo: </label>
              <input type="email"  style="font-size: 15px;"  formControlName="Correo" class="form-control" placeholder="name@mail.com" required/>
              <div *ngIf="formularioPersona.controls['Correo'].invalid && formularioPersona.controls['Correo'].dirty" class="alert alert-danger h5">El Correo es Requerido tipo correo@mail.com</div>
            </div>
            <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12" >
              <label class="h5 control-label h5 font-weight-bold">Foto: </label>
              <input type="file" Name="foto" class="form-control-file"  style="font-size: 15px;"  formControlName="Foto" accept=".png, .jpg" (change)="subirImagen($event)"/>
              <progressbar [value]='carga' type="success" [striped] ="true" *ngIf="carga != 0 || carga > 99" class="mt-2"><b>{{carga}} %</b></progressbar>
              <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 card mt-2 mb-2" *ngIf="esImagen">
                <img [src]="imagen" alt="" class=" img-thumbnail mx-auto img-fluid mt-2 mb-2">
              </div>
              <div *ngIf="formularioPersona.controls['Foto'].invalid && formularioPersona.controls['Foto'].dirty" class="alert alert-danger h5">La Foto es Requerida</div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <div class="row form-group mx-auto">
          <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
            <button class="btn btn-outline-info btn-block" [disabled]="!formularioPersona.valid || carga>0" (click) ="agregarPersona(personas)">
              <a class="h3 font-weight-bold"><i class="far fa-save"></i> | Agregar</a>
            </button>
          </div>
          <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
            <button class="btn btn-outline-danger btn-block " [routerLink]="['/personas']" *ngIf="accion != 'Encargado'">
              <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
<app-addempleado *ngIf="esEmpleado" accion="{{accion}}" instituto="{{instituto}}" persona ="{{persona}}"></app-addempleado>
