<div class="container">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10"><div class="h2 text-center">Estudiantes</div></div>
              <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2 ">
                  <button type="button" class="btn btn-success" [routerLink]="'/estudianteAgregar'"><div class="h1"><i class=" far fa-plus-square "></i></div></button>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="card-title">
              <div class="row" [formGroup]="buscarFormulario">
                  <div class="col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10 h4">
                    <input type="text" formControlName="Persona" (change)='filtrarEstudiantes()' name="buscar" class="form-control " placeholder="Escribe Para Filtrar los Estudiantes">
                  </div>
                  <div class=" col-xl-3 col-lg-3  col-md-3 col-sm-10 col-xs-10 h4">
                    <select    formControlName="Estado" (change)='asignarEstado()' class="form-control">
                      <option *ngFor="let estado of tenerEstados()" [value]='estado.id'>{{estado.descripcion | uppercase}}</option>
                    </select>
                  </div>
                  <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                    <button type="button" class="btn btn-secondary " ><div class="h4"><i class="fas fa-search "></i></div></button>
                  </div>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let estudiante of filtrarEstudiantes()">
                  <div class="card ">
                      <div class="card-header ">
                        <a *ngFor="let persona of personas">
                          <a *ngIf="persona.id === estudiante.Persona"> {{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}</a>
                        </a>
                      </div>
                      <div class="card-body h8">

                          <div class="row">
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h4 font-weight-bold">
                                  Codigo
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                                  {{estudiante.Codigo}}
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h4 font-weight-bold">
                                  Estado
                              </div>
                              <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 h5 text-uppercase">
                                <a *ngFor="let estado of estados">
                                  <a *ngIf="estado.id === estudiante.Estado" >{{estado.descripcion}}</a>
                                </a>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="form-group col-xl col-lg  col-md col-sm col-xs h8 font-weight-bold">
                              <input type="button" class="btn btn-outline-secondary btn-block" value="Ver" [routerLink]="['/estudianteDetalle', estudiante.id]">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer"></div>
  </div>
</div>
