<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
    <div class="card-header ">
      <div class="h1 text-center"><a class="h2"><i class=" fas fa-plus"></i></a><i class="fas fa-book-open"></i> | Agregar Asignatura</div>
    </div>
    <div class="card-body">
      <div class="row overflow-auto m-1" style="height: 500px; ">
        <div class="col-xl col-lg col-md col-sm col-xs">
          <form [formGroup]="formularioCreado" >
            <div class="row">
              <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                <label for="Descripcion" class="control-label h5 font-weight-bold">Asignatura</label>
                <input Type="text" formControlName="Descripcion" style="font-size: 15px;" class="form-control" required/>
                <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty" class="alert alert-danger h5">La Asignatura es Requerida</div>
              </div>
                <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                    <label for="Codigo" class="control-label h5 font-weight-bold">Codigo de Asignatura</label>
                    <input formControlName="Codigo" style="font-size: 15px;" class="form-control" required/>
                    <div *ngIf="formularioCreado.controls['Codigo'].invalid && formularioCreado.controls['Codigo'].dirty" class="alert alert-danger h5">El Codigo es Requerido</div>
                </div>
                <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                  <label for="Descripcion" class="control-label h5 font-weight-bold">Duracion en Semanas</label>
                  <input Type="number" style="font-size: 15px;" formControlName="Tiempo" class="form-control" required/>
                  <div *ngIf="formularioCreado.controls['Tiempo'].invalid && formularioCreado.controls['Tiempo'].dirty" class="alert alert-danger h5">La Asignatura es Requerida</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row form-group mx-auto">
        <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
          <button class="btn btn-outline-info btn-block" [disabled] = "formularioCreado.invalid" (click)="agregarAsignatura(buscarAsignaturas())">
            <a class="h3 font-weight-bold"><i class="far fa-save"></i> | Agregar</a>
          </button>
        </div>
        <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
          <button class="btn btn-outline-danger btn-block " [routerLink]="'/asignaturas'">
            <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
