<div class="container" *ngFor="let tarea of tareas">
  <div class="card" *ngIf="tarea.id === idTarea">
      <div class="card-header">
        <div class="h2 text-center"> Editar Tarea</div>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-xl col-lg col-md col-sm col-xs">
                <form [formGroup]="formularioCreado">
                    <div class="row">
                      <div class="form-group col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label font-weight-bold">Titulo</label>
                        <input formControlName="Titulo" [value] ="tarea.Titulo" placeholder="Escriba un Titulo para la tarea" class="form-control" required/>
                        <div *ngIf="formularioCreado.controls['Titulo'].invalid && formularioCreado.controls['Titulo'].dirty" class="alert alert-danger">El Titulo es Requerido</div>
                      </div>
                      <div class="form-group col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label font-weight-bold">Asignado</label>
                        <input type="text" class="form-control" value ="{{buscarPersona(tarea.Asignado).Rol | uppercase}}: {{buscarPersona(tarea.Asignado).Persona | uppercase}} | {{tarea.Asignado | uppercase}}" formControlName="Persona">
                      </div>
                      <div class="form-group col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label font-weight-bold">Descripcion</label>
                        <textarea formControlName="Descripcion" [value] ="tarea.Descripcion" placeholder="Escribe una descripcion para la tarea" class="form-control" rows="3" required></textarea>
                        <div *ngIf="formularioCreado.controls['Descripcion'].invalid && formularioCreado.controls['Descripcion'].dirty" class="alert alert-danger">La Descripcion es Requerida</div>
                      </div>
                        <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Fecha y Hora</label>
                          <input type="datetime-local" *ngIf="esFechahora" formControlName="FechaHora" class="form-control" required>
                          <input type="text" *ngIf="!esFechahora" (click)="cambiarFechaHora()" value="{{tenerFecha(tarea.FechaHora).fecha}} {{tenerFecha(tarea.FechaHora).tiempo}}" class="form-control">
                          <div *ngIf="formularioCreado.controls['FechaHora'].invalid && formularioCreado.controls['FechaHora'].dirty || esFechahora" class="alert alert-danger">La Fecha es Requerida</div>
                        </div>
                        <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Prioridad</label>
                          <select formControlName="Prioridad" *ngIf ="esPrioridad" class ="form-control" required>
                            <option></option>
                            <option *ngFor ="let prioridad of prioridades" [value]="prioridad.id">{{prioridad.descripcion | uppercase}}</option>
                          </select>
                          <a *ngFor ="let prioridad of prioridades">
                            <a *ngIf ="prioridad.id === tarea.Prioridad">
                              <input type="text" (click)="cambiarPrioridad()" *ngIf ="!esPrioridad" [value] = "prioridad.descripcion | uppercase"  class="form-control">
                            </a>
                          </a>
                          <div *ngIf="formularioCreado.controls['Prioridad'].invalid && formularioCreado.controls['Prioridad'].dirty" class="alert alert-danger">La Prioridad es Requerida</div>
                        </div>
                        <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Estado</label>
                          <select formControlName="Estado" *ngIf ="esEstado" class ="form-control" required>
                            <option></option>
                            <option *ngFor ="let estado of tenerEstados()" [value]="estado.id">{{estado.descripcion | uppercase}}</option>
                          </select>
                          <a *ngFor="let estado of estados">
                            <a *ngIf ="estado.id === tarea.Estado">
                              <input type="text" *ngIf ="!esEstado" (click)="cambiarEstado()" [value] = "estado.descripcion | uppercase" class="form-control">
                            </a>
                          </a>
                          <div *ngIf="formularioCreado.controls['Estado'].invalid && formularioCreado.controls['Estado'].dirty" class="alert alert-danger">La Prioridad es Requerida</div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
      <div class="card-footer">
        <div class="row">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
            <input type="submit" (click)="editarTarea(tarea)" value="Editar" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/tareas'"/>
          </div>
        </div>
      </div>
  </div>
</div>
