<div class="container" *ngFor="let cursoasignatura of cursosAsignaturas">
  <div class="card" *ngIf="cursoasignatura.id === idCursoAsignatura">
      <div class="card-header">
        <div class="h2 text-center">Editar Asignatura a Curso</div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl col-lg col-md col-sm col-xs">
                <form [formGroup]="formularioEditar">
                  <div class="row">
                    <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                      <label class="control-label font-weight-bold ">Asignatura</label>
                      <select formControlName="Asignatura" class ="form-control" (click)="tenerAsignaturas()" *ngIf="esAsignatura">
                        <option *ngFor="let asignatura of tenerAsignaturas()"  [value]="asignatura.id">{{asignatura.Descripcion | uppercase }} | {{asignatura.Codigo | uppercase }}</option>
                      </select>
                      <a *ngFor="let asignatura of tenerAsignaturas()">
                        <a *ngIf="asignatura.id === cursoasignatura.Asignatura">
                          <input type="text" class="form-control" (click)="cambiarAsignatura()" [value]="asignatura.Descripcion | uppercase" *ngIf="!esAsignatura">
                        </a>
                      </a>
                      <div *ngIf="formularioEditar.controls['Asignatura'].invalid && formularioEditar.controls['Asignatura'].dirty" class="alert alert-danger">La Asignatura es Requerida</div>
                    </div>
                    <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                      <label class="control-label font-weight-bold  ">Curso</label>
                      <select formControlName="Curso" class="form-control" *ngIf="esCurso" (click)="tenerCursos()">
                        <option *ngFor="let curso of tenerCursos()" [value]="curso.id">{{curso.Descripcion | uppercase}} | {{curso.Codigo | uppercase}}</option>
                      </select>
                      <a *ngFor="let curso of tenerCursos()">
                        <a *ngIf="curso.id === cursoasignatura.Curso">
                          <input type="text" class="form-control" (click)="cambiarCurso()" *ngIf="!esCurso" [value]="curso.Descripcion | uppercase">
                        </a>
                      </a>
                      <div *ngIf="formularioEditar.controls['Curso'].invalid && formularioEditar.controls['Curso'].dirty" class="alert alert-danger">La Asignatura es Requerida</div>
                    </div>
                    <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                      <label class="control-label font-weight-bold  ">Estado</label>
                      <select formControlName="Estado" *ngIf="esEstado" (click)="tenerEstados()" class="form-control" >
                        <option *ngFor="let estado of tenerEstados()" [value]="estado.id">{{estado.descripcion | uppercase}} </option>
                      </select>
                      <a *ngFor="let estado of tenerEstados()">
                        <a *ngIf="estado.id === cursoasignatura.Estado">
                          <input type="text" class="form-control" (click)="cambiarEstado()" *ngIf="!esEstado" [value]="estado.descripcion | uppercase">
                        </a>
                      </a>
                      <div *ngIf="formularioEditar.controls['Estado'].invalid && formularioEditar.controls['Estado'].dirty" class="alert alert-danger">El Estado es Requerida</div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="form-group mx-auto">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
            <input type="submit" value="Editar" (click)="editarCursoAsignatura(cursoasignatura)" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/cursoAsignaturaDetalle'"/>
          </div>
      </div>
      </div>
  </div>
</div>
