<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container" *ngFor="let acta of actaNacimientos">
  <div class="card" *ngIf="acta.id === idActaNacimiento">
      <div class="card-header ">
        <div class="h1 text-center"><a class="h2"><i class="far fa-edit"></i></a><a class="h1"><i class="far fa-file-alt"></i></a> | Editar Acta de Nacimiento</div>
      </div>
      <div class="card-body">
        <form [formGroup]="formularioCreado">
          <div class="row overflow-auto m-1" style="height: 500px;">
            <div class="form-group  col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12">
              <label class="control-label font-weight-bold h5">Persona: </label>
              <a *ngFor = "let persona of personas">
                <input type="text" *ngIf="persona.id === acta.Persona"  value="{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}} | {{obtenerFecha(persona.FechaNacimiento).fechaNacimiento | uppercase}}" style="font-size: 15px;" name="Persona" class="form-control" disabled/>
              </a>
            </div>
            <div class="form-group col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
              <label class="control-label font-weight-bold h5">Folio: </label>
              <input formControlName="Folio" style="font-size: 15px;" [value] = "acta.Folio" class="form-control " required minlength="4" maxlength="6"/>
              <div *ngIf="formularioCreado.controls['Folio'].invalid && formularioCreado.controls['Folio'].dirty" class="h5 alert alert-danger">El Folio es Requerido de 4 a 6 Caracteres</div>
            </div>
            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label  class="control-label font-weight-bold h5">Año: </label>
              <input type="text" formControlName="Anio" style="font-size: 15px;" [value] = "acta.Anio" class="form-control " required minlength="4" maxlength="4"/>
              <div *ngIf="formularioCreado.controls['Anio'].invalid && formularioCreado.controls['Anio'].dirty" class="h5 alert alert-danger">El Año es Requerido de 4 caracteres</div>
            </div>
            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label class="control-label font-weight-bold h5">Libro</label>
                <input formControlName="Libro" style="font-size: 15px;" [value] = "acta.Libro" class="form-control" required minlength="4" maxlength="6"/>
                <div *ngIf="formularioCreado.controls['Libro'].invalid && formularioCreado.controls['Libro'].dirty" class="h5 alert alert-danger">El Libro es Requerido de 4 a 6 caracteres</div>
            </div>
            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label class="control-label  font-weight-bold h5">Numero: </label>
                <input formControlName="Numero" style="font-size: 15px;" [value] = "acta.Numero" class="form-control" required minlength="4" maxlength="6" />
                <div *ngIf="formularioCreado.controls['Numero'].invalid && formularioCreado.controls['Numero'].dirty" class="alert alert-danger h5">El Numero es Requerido de 4 a 6 caracteres</div>
            </div>
            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <label class="control-label font-weight-bold h5">Circunscripcion: </label>
              <select formControlName="Circunscripcion" *ngIf="esCircunscripcion" style="font-size: 15px;" class ="form-control" >
                <option *ngFor="let circunscripcion of circunscripciones" [value]="circunscripcion.id">{{circunscripcion.descripcion | uppercase}}</option>
              </select>
              <a *ngFor="let circunscripcion of circunscripciones">
                <a *ngIf = "circunscripcion.id === acta.Circunscripcion">
                  <input type="text" [value]="circunscripcion.descripcion | uppercase" (click)="cambiarCircunscripcion()" *ngIf="!esCircunscripcion"  style="font-size: 15px;" class="form-control">
                </a>
              </a>
              <div *ngIf="formularioCreado.controls['Circunscripcion'].invalid && formularioCreado.controls['Circunscripcion'].dirty" class="alert alert-danger">La Circunscripcion es Requerida</div>
            </div>
            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <label class="control-label font-weight-bold h5">Nacionalidad: </label>
              <select  style="font-size: 15px;"  formControlName="Nacionalidad" *ngIf="esNacionalidad" class ="form-control" required>
                <option *ngFor ="let pais of paises" value="{{pais.id}}"> {{pais.nacionalidad | uppercase}}</option>
              </select>
              <a *ngFor="let nacionalidad of paises">
                <a *ngIf = "nacionalidad.id === acta.Nacionalidad">
                  <input type="text" [value]="nacionalidad.nacionalidad | uppercase" (click)="cambiarNacionalidad()" *ngIf="!esNacionalidad"  style="font-size: 15px;" class="form-control">
                </a>
              </a>
              <div *ngIf="formularioCreado.controls['Nacionalidad'].invalid && formularioCreado.controls['Nacionalidad'].dirty" class="alert alert-danger">La Circunscripcion es Requerida</div>
            </div>
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 mb-4">
              <label class="h5 control-label font-weight-bold">Pais: </label>
              <select style="font-size: 15px;" formControlName="Pais" [value]="acta.Pais" class ="form-control" required (click)="tenerCiudades()" (change) = "tenerCiudades()" >
                <option *ngFor ="let pais of paises" [value]="pais.id" [selected]="acta.Pais"> {{pais.descripcion | uppercase}}</option>
              </select>
              <div *ngIf="formularioCreado.controls['Pais'].invalid && formularioCreado.controls['Pais'].dirty" class="alert alert-danger">El Pais es Requerido</div>
            </div>
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-4 col-xs-4 mb-4">
              <label class="h5 control-label font-weight-bold">Ciudad</label>
              <select style="font-size: 15px;" formControlName="Ciudad" class ="form-control" required *ngIf="esCiudad">
                <option></option>
                <option *ngFor ="let ciudad of tenerCiudades()" [selected]="acta.Ciudad" [value]="ciudad.id" > {{ciudad.descripcion | uppercase}}</option>
              </select>
              <div *ngIf="!esCiudad">
                <div *ngFor="let ciudad of ciudades">
                  <input type="text" style="font-size: 15px;" *ngIf="ciudad.id === acta.Ciudad" disabled  class="form-control" [value]="ciudad.descripcion | uppercase">
                </div>
              </div>
              <div *ngIf="formularioCreado.controls['Ciudad'].invalid && formularioCreado.controls['Ciudad'].dirty" class="alert alert-danger">La Ciudad es Requerida</div>
            </div>
            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <label class="control-label font-weight-bold h5">Estado: </label>
              <select  style="font-size: 15px;"  formControlName="Estado" *ngIf="esEstado" class ="form-control" required>
                <option *ngFor ="let estado of tenerEstados()" [value]="estado.id"> {{estado.descripcion | uppercase}}</option>
              </select>
              <a *ngFor = "let estado of estados">
                <a *ngIf = "estado.id === acta.Estado">
                  <input type="text" style="font-size: 15px;" (click)="cambiarEstado()" *ngIf="!esEstado" [value]="estado.descripcion | uppercase" class="form-control">
                </a>
              </a>
              <div *ngIf="formularioCreado.controls['Ciudad'].invalid && formularioCreado.controls['Ciudad'].dirty" class="alert alert-danger">La Circunscripcion es Requerida</div>
            </div>
            <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 mb-3" >
              <label class="h5 control-label font-weight-bold">Copia Digital: </label>
              <input type="file" Name="foto" class="form-control-file" style="font-size: 15px;" formControlName="Foto" accept=".png, .jpg" (change)="subirImagen($event)"/>
              <progressbar [value]='carga' type="success" [striped] ="true" *ngIf="carga != 0 || carga > 99" class="mt-2"><b>{{carga}} %</b></progressbar>
              <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-xs-12 card mt-2 mb-2" *ngIf="acta.Foto!=''">
                <img src="{{acta.Foto}}" [src]="imagen" alt="" class=" img-thumbnail mx-auto img-fluid mt-2 mb-2"  >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row form-group mx-auto">
          <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
            <button class="btn btn-outline-info btn-block" (click) ="editarActaNacimiento(acta)">
              <a class="h3 font-weight-bold"><i class="far fa-save"></i> | Editar</a>
            </button>
          </div>
          <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
            <button class="btn btn-outline-danger btn-block " [routerLink]="['/personaDetalle', acta.Persona]" >
              <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
