<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
        <div class="h1 text-center"><a class="h2"><i class=" fas fa-plus"></i></a><i class="fas fa-users text-left"></i> | Agregar Estudiante</div>
      </div>
      <div class="card-body">
        <div class="row overflow-auto m-1" style="height: 500px; ">
          <div class="col-xl col-lg col-md col-sm col-xs">
              <form [formGroup]="formularioEstudiante">
                  <div class="form-group">
                      <label class="control-label font-weight-bold h5">Persona</label>
                      <div class="row">
                          <div class="col-xl-9 col-lg-9  col-md-9 col-sm-9 col-xs-9">
                              <input type="text" formControlName="buscarPersona" style="font-size: 15px;" class="form-control" (change)="filtrarPersonas(formularioEstudiante.value.buscarPersona)" placeholder="{{mensaje}}">
                              <select formControlName="Persona" style="font-size: 15px;" class ="form-control mt-3 mb-3" required >
                                <option></option>
                                <option *ngFor="let persona of filtrarPersonas(formularioEstudiante.value.buscarPersona)" [value]="persona.id">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}} | {{tenerFecha(persona.FechaNacimiento).fechaNacimiento | uppercase}}</option>
                              </select>
                              <div *ngIf="formularioEstudiante.controls['Persona'].invalid && formularioEstudiante.controls['Persona'].dirty" class="alert alert-danger h5">La Persona es Requerida</div>
                          </div>
                          <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                              <button type="button" class="btn btn-secondary" (click)="filtrarPersonas(formularioEstudiante.value.buscarPersona)"><div class="h2"><i class="fas fa-search "></i></div></button>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold h5">Codigo de Estudiante</label>
                          <input  type="text" formControlName="Codigo" style="font-size: 15px;" class="form-control" required [value]="codigoEstudiante | uppercase"/>
                          <div *ngIf="formularioEstudiante.controls['Codigo'].invalid && formularioEstudiante.controls['Codigo'].dirty" class="alert alert-danger h5">El Codigo es Requerido</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                        <label class="control-label font-weight-bold h5" >Mensualidad</label>
                        <input type="number" formControlName="Mensualidad" style="font-size: 15px;" class="form-control" required/>
                        <div *ngIf="formularioEstudiante.controls['Mensualidad'].invalid && formularioEstudiante.controls['Mensualidad'].dirty" class="alert alert-danger h5">El Sueldo es Requerido</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                        <label class="control-label font-weight-bold h5">Fecha de Inicio</label>
                        <input type="date" formControlName="FechaInicio" style="font-size: 15px;" class="form-control" required/>
                        <div *ngIf="formularioEstudiante.controls['FechaInicio'].invalid && formularioEstudiante.controls['FechaInicio'].dirty" class="alert alert-danger h5">El Sueldo es Requerido</div>
                      </div>
                  </div>
                  <hr>
              </form>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row form-group mx-auto">
          <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7 mb-3">
            <button class="btn btn-outline-info btn-block" [disabled]="!formularioEstudiante.valid" (click) ="agregarEstudiante()">
              <a class="h3 font-weight-bold"><i class="far fa-save"></i> | Agregar</a>
            </button>
          </div>
          <div class="col-xl-5 col-lg-5  col-md-5 col-sm-5 col-xs-5 mb-3">
            <button class="btn btn-outline-danger btn-block " [routerLink]="'/estudiantes'">
              <a class="h3 font-weight-bold"><i class="fas fa-chevron-left"></i> | Cancelar</a>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
