<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
        <div class="text-center"><div class="h2 text-center">Agregar Estudiante</div></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl col-lg col-md col-sm col-xs">
              <form [formGroup]="formularioEstudiante">
                  <div class="form-group">
                      <label class="control-label font-weight-bold">Persona</label>
                      <div class="row">
                          <div class="col-xl-9 col-lg-9  col-md-9 col-sm-9 col-xs-9">
                              <input type="text" formControlName="buscarPersona" class="form-control" (change)="filtrarPersonas(formularioEstudiante.value.buscarPersona)" placeholder="{{mensaje}}" size="20">
                              <select formControlName="Persona" class ="form-control mt-3 mb-3" required >
                                <option></option>
                                <option *ngFor="let persona of filtrarPersonas(formularioEstudiante.value.buscarPersona)" [value]="persona.id">{{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}} | {{tenerFecha(persona.FechaNacimiento).fechaNacimiento | uppercase}}</option>
                              </select>
                              <div *ngIf="formularioEstudiante.controls['Persona'].invalid && formularioEstudiante.controls['Persona'].dirty" class="alert alert-danger">La Persona es Requerida</div>
                          </div>
                          <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                              <button type="button" class="btn btn-secondary" (click)="filtrarPersonas(formularioEstudiante.value.buscarPersona)"><div class="h4"><i class="fas fa-search "></i></div></button>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                          <label class="control-label font-weight-bold">Codigo de Estudiante</label>
                          <input  type="text" formControlName="Codigo"  class="form-control" required [value]="codigoEstudiante | uppercase"/>
                          <div *ngIf="formularioEstudiante.controls['Codigo'].invalid && formularioEstudiante.controls['Codigo'].dirty" class="alert alert-danger">El Codigo es Requerido</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                        <label class="control-label font-weight-bold">Mensualidad</label>
                        <input type="number" formControlName="Mensualidad" class="form-control" required/>
                        <div *ngIf="formularioEstudiante.controls['Mensualidad'].invalid && formularioEstudiante.controls['Mensualidad'].dirty" class="alert alert-danger">El Sueldo es Requerido</div>
                      </div>
                      <div class="form-group col-xl col-lg  col-md col-sm col-xs">
                        <label class="control-label font-weight-bold">Fecha de Inicio</label>
                        <input type="date" formControlName="FechaInicio" class="form-control" required/>
                        <div *ngIf="formularioEstudiante.controls['FechaInicio'].invalid && formularioEstudiante.controls['FechaInicio'].dirty" class="alert alert-danger">El Sueldo es Requerido</div>
                      </div>
                  </div>
                  <hr>
              </form>
          </div>
      </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="form-group mx-auto col-xl-7 col-lg-7  col-md-7 col-sm-10 col-xs-10">
              <input type="submit" [disabled] = 'formularioEstudiante.invalid' (click)="agregarEstudiante()" value="Agregar" class="btn btn-outline-primary btn-block font-weight-bold" />
          </div>
          <div class="form-group mx-auto col-xl-5 col-lg-5  col-md-5 col-sm-10 col-xs-10">
              <input type="submit" value="Cancelar" class="btn btn-outline-danger btn-block font-weight-bold" [routerLink]="'/estudiantes'"/>
          </div>
        </div>
      </div>
  </div>
</div>
