<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10"><div class="h2 text-center">Usuarios</div> </div>
              <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2 ">
                  <button type="button" class="btn btn-success" [routerLink]="'/usuarioAgregar'"><div class="h1"><i class=" far fa-plus-square "></i></div></button>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="card-title">
              <div class="row" [formGroup]="formularioBuscar">
                  <div class="col-xl-7 col-lg-7  col-md-7 col-sm-7 col-xs-7">
                      <input type="text" formControlName="Buscador" (change)="buscarUsuarios()" class="form-control " placeholder="Escribe Para Filtrar">
                  </div>

                  <div class="col-xl-3 col-lg-3  col-md-3 col-sm-3 col-xs-3">
                      <select type="text" formControlName="Estado" class="form-control " (change)="buscarUsuarios()"  >
                        <option *ngFor="let estado of tenerEstados()" [selected] = '1'  [value]="estado.id" >{{estado.descripcion | uppercase}}</option>
                      </select>
                  </div>
                  <div class=" col-xl-1 col-lg-1  col-md-1 col-sm-1 col-xs-1">
                      <button type="button" class="btn btn-secondary " (click)="buscarUsuarios()"><div class="h4"><i class="fas fa-search "></i></div></button>
                  </div>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4" *ngFor="let usuario of buscarUsuarios()">
                <div class="card " >
                    <div class="card-header ">
                      <div class="h5">
                      <a *ngFor="let persona of personas">
                        <a *ngIf="usuario.Persona === persona.id">
                          {{persona.Nombre | uppercase}} {{persona.Apellido | uppercase}}
                        </a>
                      </a>
                    </div>
                  </div>
                    <div class="card-body h9">
                        <div class="row">
                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 font-weight-bold">
                                Usuario
                            </div>
                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 text-uppercase">
                                {{usuario.Usuario}}
                            </div>

                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 font-weight-bold">
                                Rol
                            </div>
                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 text-uppercase">
                                <a *ngFor="let rol of roles">
                                  <a *ngIf="rol.id === usuario.Rol">{{rol.descripcion | uppercase}}</a>
                                </a>
                            </div>
                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 font-weight-bold">
                                Estado
                            </div>
                            <div class="form-group col-xl-10 col-lg-10  col-md-10 col-sm-10 col-xs-10 h9 text-uppercase">
                              <a *ngFor="let estado of estados">
                                <a *ngIf="estado.id === usuario.Estado">{{estado.descripcion | uppercase}}</a>
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group col-xl col-lg  col-md col-sm col-xs h8 font-weight-bold">
                            <input type="button" class="btn btn-outline-secondary btn-block" value="Ver" (click)='verUsuario(usuario.id)'>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="card-footer"></div>
  </div>
</div>
